<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>Express website</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            body {
                font-family: 'Mooli', sans-serif;
            }
        </style>
        
        <link rel="shortcut icon" href="https://www.freeiconspng.com/thumbs/weather-icon-png/weather-icon-png-2.png" type="image/png"/>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
    
        <body class="m-0 p-0 box-border">

            <div class="container mx-auto flex flex-col min-h-screen max-w-full">
        
        
                {{>navbaar}}




                <div class="first-side bg-white flex  justify-center items-center p-4">
                    
                    <div>
                    
                    <img src="https://cdni.iconscout.com/illustration/premium/thumb/error-404-page-not-available-9561127-7706458.png?f=webp" alt="errorImag/> 

                    </div>

                  <button class="m-2 p-2 bg-gray-100 rounded-md shadow-md">  <a href="/" class="m-2 p-2 bg-gray-100 rounded-md shadow-md"> Go Back</a> </button>
                   
              
            </div>

            </div>


            
            <div class="footer h-10 bg-gray-200 w-full mt-auto flex justify-center items-center">
                <p>developed_By_Rani_Gupta ❤</p>
    
            </div>

           
    </body>
</html>