
<nav class="border border-emerald-900 shadow-lg w-full h-auto bg-emerald-200 p-1">
    <span><a class="flex justify-start items-center p-2 mt-3"><i class="fas fa-snowflake transition-all animate-spin 2s p-2"></i>SeeWeather<i class="fas fa-snowflake transition-all animate-spin 2s p-2"></i></a></span>
    <ul class="flex flex-row justify-end items-center space-x-8 p-2 mb-2">
        <li>
            <a class="font-bold text-black hover:text-emerald-600" href="/">Home</a>
        </li>
        <li>
            <a class="font-bold text-black hover:text-emerald-600" href="/weather">Weather</a>
        </li>
        <li>
            <a class="font-bold text-black hover:text-emerald-600" href="/about">About</a>
        </li>
    </ul>
</nav>